@font-face {
  font-family: "Fira-sans";
  font-weight: 300;
  src: url(../Fonts/Fira-sans/FiraSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Audiowide";
  src: url(../Fonts/Audiowide-Regular.ttf) format("truetype");
}

*:not(head, table, tbody, tfoot, thead, tr, td, th, script, p, a, span),
::after,
::before {
  display: flex;
  flex-direction: column;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 62.5%;
}

body {
  & *::selection {
    background-color: rgb(233, 74, 172);
  }
  p {
    line-height: 1.5em;
    font-size: var(--regular-font-size);
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    a {
      color: var(--turquoise);
      transition: all 0.3s ease-out;
      font-size: 2.5rem;
      letter-spacing: 0.1rem;
    }
    a:hover {
      @include hover;
    }
  }
  a {
    text-decoration: none;
  }
  .header__title__h1,
  h2,
  h3,
  h4 {
    font-family: Audiowide;
    text-shadow: var(--text-shadow-white);
    letter-spacing: 0.25em;
  }
  flex: 1 0;
  font-size: 1.6rem;
  background: linear-gradient(20deg, var(--black), var(--dark-green));
  background-attachment: fixed;
  font-family: Fira-sans, sans-serif;
  color: white;
}

html,
body {
  overflow: auto;
}

*[class*="adaptive-img"] {
  position: relative;
}

*[class*="adaptive-img"] > span,
*[class*="adaptive-img"] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*="adaptive-img"] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*="adaptive-img"] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

.row,
.breadcrumb__list {
  flex-direction: row;
}
