.header {
  .header__title {
    h1 {
      span:first-child {
        font-size: 15rem;
      }
      span:last-child {
          font-family: Fira-sans;
        color: var(--turquoise);
      }
      text-align: center;
    }
    .header_img {
      .header_img_cable {
        width: 70%;
        height: 60px;
      }
      .header_img_astronaut {
        width: 30%;
        position: relative;
        left: -40px;
        @include astronaut-animation;
      }
      @include cable-animation;

      img {
        width: 100%;
        height: auto;
      }
      position: absolute;
      right: -110%;
      top: 30%;
      height: 50px;
      width: 550px;
      flex-direction: row;
      align-items: center;
    }
    background-image: url(../Images/moon.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    position: relative;
  }
  .header__intro {
     text-align: center;
      max-width: 1200px;
  }
  width: 100%;
  align-items: center;
  padding: 2%;
  gap: 50px;
}

/* comment */