main {
  aside {
    .menu__nav__title {
      color: var(--taupe);
      letter-spacing: 0.1em;
    }

    a {
      @include hover;
      @include hover-before;
      text-decoration: none;
      color: var(--turquoise);
    }
    .input {
      box-shadow: 0 -0.5px var(--turquoise);
      height: 40px;
      line-height: 40px;
      align-items: center;
      gap: 20px;
    }
    position: sticky;
    top: 20px;
    height: 2000px;
    flex: 1 0 300px;
    max-width: 300px;
    box-shadow: 0.5px 0.5px var(--turquoise), -0.5px -0.5px var(--turquoise);
    padding: 20px 20px;
    line-height: 2em;
    gap: 30px;
    max-height: 95vh;
  }
  .container {
    h2 {
      font-size: 4rem;
      line-height: 10rem;
    }
    h3 {
      font-size: 3rem;
      line-height: 10rem;
    }
    .standard-blocks {
      p {
        span {
          background-color: rgba(73, 122, 114, 0.5);
          border-radius: 4px;
          padding: 2px 5px;
        }
        max-width: 1000px;
      }
    }
    .article__breadcrumb {
      .row {
        .card {
          div {
            @include card-hover;
            @include card-hover-popup;
            @include card-name;

            border-radius: 6px;
            padding: 20px 20px;
            flex: 1 0;
            outline: 2px dashed var(--card-outline-color);
            gap: 30px;
          }
          .breadcrumb__list {
            div {
              max-width: 200px;
            }
            justify-content: flex-start;
          }
          height: 250px;
          flex: 1 0 700px;
          background-color: var(--card-bg-color);
          border-radius: 8px;
          padding: 20px 20px;
        }
      }
    }
    height: 4000px;
    box-shadow: 0 -0.5px var(--turquoise);
    padding: 20px 0;
    gap: 120px;
    width: 100%;
  }
  gap: 30px;
  padding: 1% 1%;
}
