@mixin hover {
  &:hover {
    color: var(--taupe);
    text-shadow: var(--text-shadow);
  }
  transition: all 0.2s ease-out;
}

@mixin hover-before {
  & {
    position: relative;
  }
  &:hover::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    left: -10px;
    background-color: var(--taupe);
  }
}

@mixin card-hover {
  &:hover {
    outline: 2px solid var(--card-highlight-color);
    box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
    cursor: help;
  }
  transition: all 0.2s ease-out;
}

@mixin card-hover-popup {
  &::before {
    content: attr(class);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: white;
    color: var(--card-bg-color);
    font-size: 2rem;
    border-radius: 20px;
    z-index: 2;
    opacity: 0;
  }
  &:hover::before {
      opacity: 1;
  }
}

@mixin card-name {
  position: relative;
  &:after {
    content: attr(class);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: var(--card-bg-color);
    padding: 0 5px;
    font-size: 1.4rem;
    color: var(--turquoise);
  }
}


@mixin cable-animation {
    animation: rotate 7s ease-in-out alternate infinite;
    transform-origin: left;
    @keyframes rotate {
        0% { transform: rotate(10deg)};
        100% { transform: rotate(-10deg)};
    }
}

@mixin astronaut-animation {
    animation: rotate 5s ease-in-out alternate infinite;
    @keyframes rotate {
        0% { transform: rotate(10deg)};
        100% { transform: rotate(-10deg)};
    }
}

/* @mixin cable-animation {
    animation: rotate 2ms linear infinite;
    transform-origin: left;
    @keyframes rotate {
        0% { transform: rotate(360deg)};
        100% { transform: rotate(-360deg)};
    } 
}*/