:root {
    --black: rgb(2,23,27);
    --dark-green: #074d50;
    --turquoise: rgb(20,231,198);
    --taupe: rgb(218,237,233);
    --card-outline-color: rgb(29,99,92);
    --card-bg-color: rgb(2,23,27);
    --card-highlight-color: rgb(20,231,198);
    --text-shadow: 0 0 0.5em;
    --regular-font-size: 2rem;
    --text-shadow-white: 0 0 0.5rem #7ed4d4, 0 0 0.5rem #7ed4d4;
}