:root {
  --black: rgb(2,23,27);
  --dark-green: #074d50;
  --turquoise: rgb(20,231,198);
  --taupe: rgb(218,237,233);
  --card-outline-color: rgb(29,99,92);
  --card-bg-color: rgb(2,23,27);
  --card-highlight-color: rgb(20,231,198);
  --text-shadow: 0 0 0.5em;
  --regular-font-size: 2rem;
  --text-shadow-white: 0 0 0.5rem #7ed4d4, 0 0 0.5rem #7ed4d4;
}

/* @mixin cable-animation {
    animation: rotate 2ms linear infinite;
    transform-origin: left;
    @keyframes rotate {
        0% { transform: rotate(360deg)};
        100% { transform: rotate(-360deg)};
    } 
}*/
@font-face {
  font-family: "Fira-sans";
  font-weight: 300;
  src: url(../Fonts/Fira-sans/FiraSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Audiowide";
  src: url(../Fonts/Audiowide-Regular.ttf) format("truetype");
}
*:not(head, table, tbody, tfoot, thead, tr, td, th, script, p, a, span),
::after,
::before {
  display: flex;
  flex-direction: column;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 62.5%;
}

body {
  flex: 1 0;
  font-size: 1.6rem;
  background: linear-gradient(20deg, var(--black), var(--dark-green));
  background-attachment: fixed;
  font-family: Fira-sans, sans-serif;
  color: white;
}
body *::selection {
  background-color: #e94aac;
}
body p {
  line-height: 1.5em;
  font-size: var(--regular-font-size);
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
body p a {
  color: var(--turquoise);
  transition: all 0.3s ease-out;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
body p a:hover {
  transition: all 0.2s ease-out;
}
body p a:hover:hover {
  color: var(--taupe);
  text-shadow: var(--text-shadow);
}
body a {
  text-decoration: none;
}
body .header__title__h1,
body h2,
body h3,
body h4 {
  font-family: Audiowide;
  text-shadow: var(--text-shadow-white);
  letter-spacing: 0.25em;
}

html,
body {
  overflow: auto;
}

*[class*=adaptive-img] {
  position: relative;
}

*[class*=adaptive-img] > span,
*[class*=adaptive-img] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*=adaptive-img] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*=adaptive-img] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

.row,
.breadcrumb__list {
  flex-direction: row;
}

.header {
  width: 100%;
  align-items: center;
  padding: 2%;
  gap: 50px;
}
.header .header__title {
  background-image: url(../Images/moon.svg);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  position: relative;
}
.header .header__title h1 {
  text-align: center;
}
.header .header__title h1 span:first-child {
  font-size: 15rem;
}
.header .header__title h1 span:last-child {
  font-family: Fira-sans;
  color: var(--turquoise);
}
.header .header__title .header_img {
  animation: rotate 7s ease-in-out alternate infinite;
  transform-origin: left;
  position: absolute;
  right: -110%;
  top: 30%;
  height: 50px;
  width: 550px;
  flex-direction: row;
  align-items: center;
}
.header .header__title .header_img .header_img_cable {
  width: 70%;
  height: 60px;
}
.header .header__title .header_img .header_img_astronaut {
  width: 30%;
  position: relative;
  left: -40px;
  animation: rotate 5s ease-in-out alternate infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.header .header__title .header_img img {
  width: 100%;
  height: auto;
}
.header .header__intro {
  text-align: center;
  max-width: 1200px;
}

main {
  gap: 30px;
  padding: 1% 1%;
}
main aside {
  position: sticky;
  top: 20px;
  height: 2000px;
  flex: 1 0 300px;
  max-width: 300px;
  box-shadow: 0.5px 0.5px var(--turquoise), -0.5px -0.5px var(--turquoise);
  padding: 20px 20px;
  line-height: 2em;
  gap: 30px;
  max-height: 95vh;
}
main aside .menu__nav__title {
  color: var(--taupe);
  letter-spacing: 0.1em;
}
main aside a {
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: var(--turquoise);
}
main aside a:hover {
  color: var(--taupe);
  text-shadow: var(--text-shadow);
}
main aside a {
  position: relative;
}
main aside a:hover::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: -10px;
  background-color: var(--taupe);
}
main aside .input {
  box-shadow: 0 -0.5px var(--turquoise);
  height: 40px;
  line-height: 40px;
  align-items: center;
  gap: 20px;
}
main .container {
  height: 4000px;
  box-shadow: 0 -0.5px var(--turquoise);
  padding: 20px 0;
  gap: 120px;
  width: 100%;
}
main .container h2 {
  font-size: 4rem;
  line-height: 10rem;
}
main .container h3 {
  font-size: 3rem;
  line-height: 10rem;
}
main .container .standard-blocks p {
  max-width: 1000px;
}
main .container .standard-blocks p span {
  background-color: rgba(73, 122, 114, 0.5);
  border-radius: 4px;
  padding: 2px 5px;
}
main .container .article__breadcrumb .row .card {
  height: 250px;
  flex: 1 0 700px;
  background-color: var(--card-bg-color);
  border-radius: 8px;
  padding: 20px 20px;
}
main .container .article__breadcrumb .row .card div {
  transition: all 0.2s ease-out;
  position: relative;
  border-radius: 6px;
  padding: 20px 20px;
  flex: 1 0;
  outline: 2px dashed var(--card-outline-color);
  gap: 30px;
}
main .container .article__breadcrumb .row .card div:hover {
  outline: 2px solid var(--card-highlight-color);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
  cursor: help;
}
main .container .article__breadcrumb .row .card div::before {
  content: attr(class);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: white;
  color: var(--card-bg-color);
  font-size: 2rem;
  border-radius: 20px;
  z-index: 2;
  opacity: 0;
}
main .container .article__breadcrumb .row .card div:hover::before {
  opacity: 1;
}
main .container .article__breadcrumb .row .card div:after {
  content: attr(class);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: var(--card-bg-color);
  padding: 0 5px;
  font-size: 1.4rem;
  color: var(--turquoise);
}
main .container .article__breadcrumb .row .card .breadcrumb__list {
  justify-content: flex-start;
}
main .container .article__breadcrumb .row .card .breadcrumb__list div {
  max-width: 200px;
}

/*# sourceMappingURL=style.css.map */
